*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}



/* site-wrapper */
.site-wrapper{
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
}

.site-header{
    background-image: linear-gradient(62deg, #01080c 0%, #dfd0eb 100%);
    display: flex;
    align-items: center;
    width: 100%; 
    position: fixed;
}


.navbar{
    display: flex;
    margin-left:auto; 
}

.navbar a{
    padding: 1.5rem 1rem;
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
   
}

.navbar a:hover{
    border-color: rgb(112, 8, 8);
    background-image: linear-gradient(62deg, #01080c 0%, #dfd0eb 100%);
    display: inline-block;
    /* border-radius: 0.5rem; */
    /* box-shadow: 5px 5px 5px 5px rgb(248, 246, 246); */
}



/* .profile .btn{
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    background-color: #4d0404;
    border-radius: 5px;
    border: 2px solid blue;
}

.profile .btn:hover{
    border-color: rgb(51, 3, 3);
    border-color: rgb(112, 8, 8);
    background: rgb(59, 58, 58);
    display: inline-block;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px rgb(248, 246, 246);
}

.continue{
    text-decoration: none;
    color: blue;
} */



/* hero */
.hero{
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color: rgb(209, 202, 202); */
    background-image: linear-gradient(62deg, #01080c 0%, #dfd0eb 100%);
   
}

.profile {
    display: inline;
    margin: 0 auto;
}

.profile h1 {
    margin: 0 auto 1rem auto;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.profile p {
    margin: 0 auto 3rem auto;
    color: white;
    font-size: 2rem;
}

.profile .btn{
    margin-left: 180px;   
    font-size: 1.2rem;
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    background-image: linear-gradient(62deg, #01080c 0%, #dfd0eb 100%);
    border: 2px solid rgb(245, 245, 250);
}

.profile .btn:hover{
    border-color: rgb(51, 3, 3);
    background: rgb(59, 58, 58);
    box-shadow: 5px 5px 5px 5px rgb(248, 246, 246);

}


/* content */

/* primary-content */

.content{
    padding: 2rem;
    display: flex;  
    background-color: rgb(252, 251, 250);
    
}


.primary-content{
    padding: 1.5rem 1rem;
    margin-right: 40px;
    width: 60%;
    text-align: left;
}

.primary-content h2 {
    font-size: 3rem;
    margin-left: 20px;
    margin-top: 15px;
}

.primary-content p {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.8rem;
    color: blue ;
}

.primary-content .btn{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    background-image: linear-gradient(62deg, #01080c 0%, #dfd0eb 100%);
    border: 2px solid rgb(6, 6, 8);
}

.primary-content .btn:hover{
    border-color: rgb(51, 3, 3);
    background: rgb(59, 58, 58);
    box-shadow: 5px 5px 5px 5px rgb(58, 56, 56);

}


/* secodary-content */
.secodary-content{
    width: 40%;

}

.fab{
    margin-top: 30px;
    font-size: 1.5rem;
}


.friend{
    margin-top: 5px;
}

.friend a{
    color: blue;
    display: flex;
    line-height: 1.5;
    font-size: 1.3rem;
}

.cv{
    line-height:1.5;
    width: 100%;
    margin-top: 15px;
    font-size: 1.3rem;
}

.cv p{
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.cv .head{
    margin-top: 5px;
    background-image: linear-gradient(62deg, #01080c 0%, #dfd0eb 100%);
    color: blue;
    font-size: 1rem;
    text-decoration: underline;
    display: inline;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 1.5rem 1.5rem;
}



/* Contact section */
.btn {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-radius: 2px;
  }
  

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    padding: 0 2rem;
    background-image: linear-gradient(62deg, #01080c 0%, #dfd0eb 100%);
    /* background-image: linear-gradient(62deg, #570613 0%, #3a22c2 10%, #084913 100%); */
    color: white;
  }
  
  .contact-section-header > h2 {
    font-size: 4rem;
  }
  
  @media (max-width: 28.75em) {
   
  }
  
  .contact-section-header > p {
    font-style: italic;
    font-size: 1.8rem;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    
  }
  
  .contact-details {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    display: block;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
